# Maven target directory
/target

# IDE related files
.idea/
.vscode/

# Temporary files
*.log
*.tmp

# Local configuration files
/application.properties
/src/main/resources/application.production.properties
/application.yml

# Private configuration
PRIVATE_README.md